#include "mango-2sockets.dtsi"
#include "mango-top-intc2.dtsi"
#include "mango-pcie-2rc.dtsi"

/ {
	info {
		file-name = "mango-sophgo-pisces.dts";
	};
};

&ethernet0 {
	max-speed = <1000>;
	eth-sophgo-config {
		autoneg = "enable";
	};
};

&soc {
	gpio-poweroff {
		compatible = "gpio-keys";
		input-name = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio2_acquire>;

		power {
			label = "GPIO Key Power";
			linux,code = <KEY_POWER>;
			gpios = <&port0a 2 GPIO_ACTIVE_HIGH>;
			linux,input-type = <1>;
			debounce-interval = <100>;
		};
	};

	watchdog: sophgo-wdt@7030004000 {
		compatible = "mango,wdt-reset";
		reg = <0x70 0x30004000 0x0 0x1000>;
		subctrl-syscon = <&top_misc>;
	};
};

&gpio0 {
	sophgo_gpio0: sophgo-gpio {
		compatible = "sophgo,gpio0";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x70 0x30009000>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&intc>;
		interrupts = <SOC_PERIPHERAL_IRQ(96) IRQ_TYPE_LEVEL_HIGH>;

		reset_gpio: reset-gpio {
			compatible = "mango,cpld-reset";
			gpios = <&sophgo_gpio0 3 GPIO_ACTIVE_HIGH>;
		};
	};
};

/ {
	 board-info {
		/* compatible MUST be sophgo,board-info */
		compatible = "sophgo,board-info";
		/* valid values are: full-function, xmr */
		chip-package = "full-function";
		/* valid values are: x4, x8 */
		ddr-pcb-type = "x8";
	};
};
